 <!-- Twitter card -->
 <meta name="twitter:card" content="summary">
 <meta name="twitter:site" content="@rustlang">
 <meta name="twitter:creator" content="@rustlang">
 <meta name="twitter:title" content="{{config.title}}">
 <meta name="twitter:description" content="{{config.description}}">
<meta name="twitter:image" content="https://www.rust-lang.org/static/images/rust-social.jpg">

<!-- Facebook OpenGraph -->
<meta property="og:title" content="{{config.title}}" />
<meta property="og:description" content="{{config.description}}">
<meta property="og:image" content="https://www.rust-lang.org/static/images/rust-social-wide.jpg" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />

<!-- styles -->
<link rel="stylesheet" href="{{ get_url(path="styles/skeleton.css") | safe }}"/>
<link rel="stylesheet" href="{{ get_url(path="styles/tachyons.css") | safe }}"/>
<link rel="stylesheet" href="{{ config.base_url | safe }}/fonts.css"/>
<link rel="stylesheet" href="{{ config.base_url | safe }}/app.css"/>

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path="images/apple-touch-icon.png") | safe }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path="images/favicon-32x32.png") | safe }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path="images/favicon-16x16.png") | safe }}">
<link rel="shortcut icon" href="{{ get_url(path="images/favicon.ico") | safe }}">
<link rel="manifest" href="{{ get_url(path="images/site.webmanifest") | safe }}">
<link rel="mask-icon" color="#5bbad5" href="{{ get_url(path="images/safari-pinned-tab.svg") | safe }}">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#ffffff">

 <!-- atom -->
 <link type="application/atom+xml" title="{{config.title}}" rel="alternate" href="https://blog.rust-lang.org/feed.xml">
